/** Este "row" ayuda hacer full la grid de foundation (No borrar) **/

.row {
max-width: 100%;}

/** Bg para la Página **/

body{
  background-color: #F2F2F2;}

/** Colores para los Textos **/

.text-white{
  color:white;}

.text-green{
  color:#42ab9e;}

/** Espacio entre Divs y Rows **/

.space{
  margin-top: 60px;}

/** Menu y buscador (Pendiente) **/

form{
  margin-left: 140px;}

.search-field {
  margin-top: 0px;
  margin-right: 0px;}

span {
  padding-left: 0px;}

.icon {
  font-size: 15px;}

.center {
  padding-top: 1%;}

.fi-magnifying-glass:before {
  content: "\f16c";
  position: absolute;
  margin-left: 150px;
  margin-top: 6px;
  font-size: 25px;
  line-height: 50px;
  color: #3F3F3E;
  z-index: 2;
  display: inline-block;}

input[type="text"].dream-search {
  width: 90px;
  padding-left: 35px;}

input[type="text"].dream-search:focus {
  width: 370px;
  transition: ease-in-out,width .35s ease-in-out;}

.center-row {
  border-radius: 15px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;}

.center-row ul{
  display: table;
  margin: 0 auto;}

/** Bg Banner **/

.bg-banner{
  display: table;
  width: 100%;
  height: 470px;
  background: url('../img/bg.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
     background-size: cover; 
  text-align: center;}

/** Elementos dentro del Banner **/

/** Margen del Banner **/

.text-date{
  margin-top: 50px;}

/** Círculos Usuarios **/

.users{
  color:white;
  height: 35px;
  width: 35px;
-moz-border-radius: 35px;
border-radius: 35px;}

/** Botón **/

.btn-circle{
  border: 1px solid white;
  padding: 8px 12px; 
  width: 40px;
  border-radius: 25px;}

/** Título **/

.title{
  font-size: 35px;
  font-weight: bolder;}

/** Barras de Progreso **/

@-webkit-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
stroke-dashoffset:0
}
}

.progress-control{
  padding-left: 400px;}

/***** Barra de Progreso 1 *****/

.progress1>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 2rem;
  font-size: 13px;}

.progress1>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;}

.progress1>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 2.0rem;
  left: 0;
  font-size: 20px;
  text-align: center;}

.progress1 svg {
  width: 6rem;
  height: 6rem;}

.progress1 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);}

.progress1 svg:nth-child(2) path {
  fill: none;
  stroke-width: 7;
  stroke-dasharray: 629;
  stroke: rgb(255, 48, 48);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;}

/***** Barra de Progreso 2 *****/

.progress2>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 2rem;
  margin-left: 0.5rem;
  font-size: 13px;}

.progress2>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;}

.progress2>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 2.0rem;
  left: 0;
  font-size: 20px;
  text-align: center;}

.progress2 svg {
  width: 6rem;
  height: 6rem;}

.progress2 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);}

.progress2 svg:nth-child(2) path {
  fill: none;
  stroke-width: 7;
  stroke-dasharray: 629;
  stroke: rgb( 0, 250, 154);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;}

/***** Barra de Progreso 3 *****/

.progress3>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 2rem;
  margin-left: 0.5rem;
  font-size: 13px;}

.progress3>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;}

.progress3>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 2.0rem;
  left: 0;
  font-size: 20px;
  text-align: center;}

.progress3 svg {
  width: 6rem;
  height: 6rem;}

.progress3 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);}

.progress3 svg:nth-child(2) path {
  fill: none;
  stroke-width: 7;
  stroke-dasharray: 629;
  stroke: rgb(238, 230, 133);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;}

/***** Barra de Progreso 4 *****/

.progress4>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 2rem;
  margin-left: 0.5rem;
  font-size: 13px;}

.progress4>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;}

.progress4>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 2.0rem;
  left: 0;
  font-size: 20px;
  text-align: center;}

.progress4 svg {
  width: 6rem;
  height: 6rem;}

.progress4 svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);}

.progress4 svg:nth-child(2) path {
  fill: none;
  stroke-width: 7;
  stroke-dasharray: 629;
  stroke: rgb( 99, 184, 255);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;}

/** Botón de Visitas **/

.btn-visit-case{
  margin-left: -100px;}

.bt-type1{
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #fff;
  color:#fff;
  line-height: 32px;
  border-radius: 25px;
  cursor:pointer;}

/** Botón para Compartir **/

.bt-type2{
  margin-left: 220px;}

/** Icono **/

.fi-share{
  display: inline-block;
  height: 30px;
  padding: 0 8px;
  border: 1px solid #fff;
  color:#fff;
  line-height: 32px;
  border-radius: 25px;
  cursor:pointer;}
 
/** Imágenes Nominados **/  

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in img {
  transition: all 0.2s linear; }

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }

.overlay-fade-in:hover img {
  transform: scale(1.2); }

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }

.overlay-fade-in:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

.overlay-slide-in-left img {
  transition: all 0.3s ease-in-out; }

.overlay-slide-in-left .image-overlay-content {
  background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-110%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 7px #ccc; }

.overlay-slide-in-left h2 {
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 40%;
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }

.overlay-slide-in-left p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear; }

.overlay-slide-in-left .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px; }

.overlay-slide-in-left .button:hover {
    background-color: #444; }

.overlay-slide-in-left:hover .image-overlay-content {
  transform: translateX(0px); }

.overlay-slide-in-left:hover img {
  transform: translateX(80%);
  transition-delay: 0.1s; }

.overlay-slide-in-left:hover p {
  opacity: 1;
  transition-delay: 0.4s; }

.overlay-fade-in-new-background .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background .button:hover {
    box-shadow: 0 0 5px #fff;
    background-color: #222; }

.overlay-fade-in-new-background p {
  font-size: 28px; }

.overlay-fade-in-new-background .image-overlay-content {
  opacity: 0;
  background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in-new-background h2 {
  color: #000;
  font-size: 1.6rem;
  margin-top: 30%;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background p {
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in-new-background img {
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  transform: scale(1.5); }

.overlay-fade-in-new-background:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in-new-background:hover h2, .overlay-fade-in-new-background p, .overlay-fade-in-new-background .button {
  opacity: 1; }

.overlay-fade-in-new-background:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in-new-background:hover .button {
  transition-delay: 0.2s; }

/** Textos Hover **/

.text-numbers{
  margin-left: 20px;
  margin-top: 25px;}

.small-text{
  font-size: 14px;}

/** Botón "Vote now!" Hover **/

.btn-vote{
  margin-top: 120px;
  margin-left: 30px;}

/** Redes Sociales Hover **/

.icons-sm{
  margin-top: 20px;}

.sm{
  margin-top: 20px;
  width: 30px;
  display: inline-block;}

/** Información de los Nominados **/

.content{
  margin-top: 20px;}

.text-content{
  font-size: 14px;}

/** Hover Tooltip **/

.users-tooltip{
  margin-left: 1px;
  height: 60px;
  width: 60px;
-moz-border-radius: 35px;
border-radius: 35px;
}
 
/** Corazón **/
.heart{
  color:red;
}

/** Menu Footer Wrap **/

#primary_nav_wrap{
  margin-top:15px;
  margin-left:115px;}

#primary_nav_wrap ul{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0}

#primary_nav_wrap ul a{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif}

#primary_nav_wrap ul li{
  position:relative;
  float:left;
  margin:0;
  padding:0}

#primary_nav_wrap ul li:hover{
background-color:#F2F2F2;}

#primary_nav_wrap ul ul{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0}

#primary_nav_wrap ul ul li{
  float:none;
  width:200px}

#primary_nav_wrap ul ul a{
  line-height:120%;
  padding:10px 15px}

#primary_nav_wrap ul ul ul{
  top:0;
  left:100%}

#primary_nav_wrap ul li:hover > ul{
  display:block}

.numbers{
  width: 25px;}

/** Footer **/  

footer{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;}

/** Back2top **/

#back-top {
  display:block;
  position: fixed;
  bottom:20px;
  right: 47%;
  z-index: 100;}

.text-private{
    margin-left: 128px;
  }

/** Falta el Sticky Footer **/

